:root {
    --dark: #2b061e;
    --mid: #697a21;
    --light: #f2f3d9;
    --accent: #db2763;
  }

* {
    box-sizing: border-box;
    line-height: 1.5em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
}

section {
    background-color: var(--light);
    margin: 1em;
    padding: 1em;
}

#searchArea {
    width: 100%;
}

input {
    height: 2.5em;
}

#citySearch button {
    height: 2.5em;
}

#history {
    margin: 0;
    width: 100%;
}

.cityHistory {
    background-color: var(--accent);
    color: var(--light);
    height: 2.5em;
    width: 8em;
    margin: 2px;
    border: none;
    border-radius: 4px;
}

.day {
    box-shadow: 1px 1px 24px var(--dark);
    border-radius: 12px;
    margin: 2em;
    padding: 2em;
}

.pill {
    border-radius: 1em;
    padding: 5px;
}

