:root {
    --dark: #2b061e;
    --mid: #697a21;
    --light: #f2f3d9;
    --accent: #db2763;
  }

* {
    box-sizing: border-box;
    line-height: 1.5em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day {
    border: 1px solid black;
}

.pill {
    border-radius: 1em;
    padding: 5px;
}